import React from 'react';

{{#less}}
import styles from './{{name}}.less';

{{/less}}
export default class {{name}} {
  render() {
    return (
      <div>
        {{name}}
      </div>
    );
  }
}
